---
import MainLayout from "../../layouts/MainLayout.astro";

// Components
import Mamparas from "../../components/Mamparas.astro";

import "../../styles/global.css";
import "../../styles/servicesDetail.css";
const allMamparas = await Astro.glob("./*.md");
---

<MainLayout title="Duchart - Mamparas">
    <div class="sd-main">
        <Mamparas mamparas={allMamparas} />
    </div>
</MainLayout>
