---
import { Icon } from "astro-icon";
---

<div class="badge-main">
    <div class="badge">
        <div class="badge-icon">
            <Icon name="fluent:design-ideas-24-regular" width="60" />
        </div>
        <div class="badge-text">
            <h3>Diseño</h3>
            <p>Lo mejor en ultimas tendencias</p>
        </div>
    </div>
    <div class="badge">
        <div class="badge-icon">
            <Icon name="fa-solid:shower" width="60" />
        </div>
        <div class="badge-text">
            <h3>Calidad</h3>
            <p>Máxima garantizada en nuestro servicio</p>
        </div>
    </div>
</div>
