---
import { Image } from "astro:assets";
// Import styles
import "../styles/footer.css";
---

<div class="f-main">
    <div class="f-logos">
        <div class="f-wrapper">
            <div class="f-divImg">
                <Image
                    src="/img/partners/duscholux.png"
                    alt="Duscholux"
                    width={400}
                    height={229}
                    class="f-image"
                />
            </div>
            <div class="f-divImg">
                <Image
                    src="/img/partners/novellini.png"
                    alt="Novellini"
                    width={567}
                    height={283}
                    class="f-image"
                />
            </div>
            <div class="f-divImg">
                <Image
                    src="/img/partners/gme.png"
                    alt="GME"
                    width={810}
                    height={298}
                    class="f-image"
                />
            </div>
            <div class="f-divImg">
                <Image
                    src="/img/partners/profiltek.png"
                    alt="Profiltek"
                    width={516}
                    height={98}
                    class="f-image"
                />
            </div>
        </div>
    </div>
    <div>(c) Copyright 2023 - MDG Design services</div>
    <div>Version: 2️⃣.1️⃣</div>
</div>
